<a href="https://colab.research.google.com/github/CamiloMezzano/-Predicciones-de-ventas-alimenticias/blob/main/Simulaci%C3%B3n_del_examen_Principios_fundamentales_de_la_ciencia_de_datos_Pr%C3%A1ctica_del_examen_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) El primer paso en este proceso es usar Python para limpiar los datos para tenerlo listo para los an√°lisis. Ustedes deben:**

In [26]:
import pandas as pd
df = pd.read_csv('/content/literacy_rates.csv')
df.head()

                      Region      Country  Year    Age  Gender Literacy rate
0  Central and Southern Asia  Afghanistan  2011    15+  female     0.1761206
1  Central and Southern Asia  Afghanistan  2011    15+    male      0.454171
2  Central and Southern Asia  Afghanistan  2011    15+   total     0.3174112
3                        NaN  Afghanistan  2011  15-24  female     0.3211322
4                        NaN  Afghanistan  2011  15-24    male     0.6187907

Identificar y abordar cualquier valor duplicado.

In [27]:
#revisamos cantidad de columnas
df.shape

(4955, 6)

In [28]:
#revisamos tipos de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4955 entries, 0 to 4954
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         4950 non-null   object
 1   Country        4955 non-null   object
 2   Year           4955 non-null   int64
 3   Age            4955 non-null   object
 4   Gender         4955 non-null   object
 5   Literacy rate  4955 non-null   object
dtypes: int64(1), object(5)
memory usage: 232.4+ KB

In [29]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4950    False
4951    False
4952    False
4953    False
4954    False
Length: 4955, dtype: bool

In [30]:
df.duplicated().sum()

0

In [31]:
df.isna().sum()

Region           5
Country          0
Year             0
Age              0
Gender           0
Literacy rate    0
dtype: int64

In [32]:
df['Region'].fillna('Central and Southern Asia', inplace = True)

In [33]:
df.isna().sum()

Region           0
Country          0
Year             0
Age              0
Gender           0
Literacy rate    0
dtype: int64

In [37]:
df.head()

                      Region      Country  Year    Age  Gender Literacy rate
0  Central and Southern Asia  Afghanistan  2011    15+  female     0.1761206
1  Central and Southern Asia  Afghanistan  2011    15+    male      0.454171
2  Central and Southern Asia  Afghanistan  2011    15+   total     0.3174112
3  Central and Southern Asia  Afghanistan  2011  15-24  female     0.3211322
4  Central and Southern Asia  Afghanistan  2011  15-24    male     0.6187907

Identificar y abordar cualquier dato que falte en este conjunto de datos.

In [38]:
df['Region'].value_counts()

Latin America and the Caribbean     1410
Sub-Saharan Africa                  1155
Northern Africa and Western Asia     852
Europe and Northern America          504
Central and Southern Asia            467
Eastern and South-Eastern Asia       423
Oceania                              144
Name: Region, dtype: int64

In [39]:
df['Country'].value_counts()

Mexico                 108
Uruguay                108
Brazil                 108
Palestine               96
Turkey                  96
                      ...
Trinidad and Tobago     12
Greece                  12
Estonia                 12
Hungary                 12
Antigua and Barbuda      6
Name: Country, Length: 155, dtype: int64

In [40]:
df['Age'].value_counts()

15+      1260
15-24    1239
25-64    1239
65+      1217
Name: Age, dtype: int64

Tr√°tenlos de forma adecuada. Incluyan una breve descripci√≥n en el m√©todo que suelen tratar con los valores que faltan junto con una justificaci√≥n para el uso de ese m√©todo.

Aseg√∫rense de que todas las columnas coincidan con los tipos de datos enumerados en el diccionario de datos.
Identifiquen y aborden cualquier inconsistencias en los valores categ√≥ricos (ejemplo: cat, Cat, cats).

Identifiquen y aborden cualquier punto de datos inapropiados o inusuales (ejemplo: la edad no puede ser 325).

**2) El siguiente paso es completar una exploraci√≥n de los datos usando Python. Esto debe incluir:**