<a href="https://colab.research.google.com/github/CamiloMezzano/-Predicciones-de-ventas-alimenticias/blob/main/Simulaci%C3%B3n_del_examen_Principios_fundamentales_de_la_ciencia_de_datos_Pr%C3%A1ctica_del_examen_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** 1) El primer paso en este proceso es usar Python para limpiar los datos para tenerlo listo para los análisis. Ustedes deben:**

In [1]:
import pandas as pd
df = pd.read_csv('/content/literacy_rates.csv')
df.head()

                      Region      Country  Year    Age  Gender Literacy rate
0  Central and Southern Asia  Afghanistan  2011    15+  female     0.1761206
1  Central and Southern Asia  Afghanistan  2011    15+    male      0.454171
2  Central and Southern Asia  Afghanistan  2011    15+   total     0.3174112
3                        NaN  Afghanistan  2011  15-24  female     0.3211322
4                        NaN  Afghanistan  2011  15-24    male     0.6187907

Identificar y abordar cualquier valor duplicado.

Identificar y abordar cualquier dato que falte en este conjunto de datos.

Trátenlos de forma adecuada. Incluyan una breve descripción en el método que suelen tratar con los valores que faltan junto con una justificación para el uso de ese método.

Asegúrense de que todas las columnas coincidan con los tipos de datos enumerados en el diccionario de datos.
Identifiquen y aborden cualquier inconsistencias en los valores categóricos (ejemplo: cat, Cat, cats).

Identifiquen y aborden cualquier punto de datos inapropiados o inusuales (ejemplo: la edad no puede ser 325).

**2) El siguiente paso es completar una exploración de los datos usando Python. Esto debe incluir:**